@model EvViewModel


    <vc:ozellikler-menu></vc:ozellikler-menu>
    <div class="section properties">
    <div class="container">
    <div class="row properties-box">
        @foreach (var ev in Model.Evler){

        <div class="col-lg-4 col-md-6 align-self-center mb-30 properties-items col-md-6 adv">
          <div class="item">
            <a href="/evler/detay/@ev.Url"><img src="~/img/@ev.Image" alt=""></a>
            <span class="category">@ev.Baslik</span>
            <h6>$@ev.Fiyat</h6>
            <h4><a href="/evler/detay/@ev.Url">@ev.Adres</a></h4>
            <ul>
              <li>Yatak Odası: <span>@ev.YatakOdasi</span></li>
              <li>Banyo: <span>@ev.Banyo</span></li>
              <li>Metrekare: <span>@ev.Metrekare</span></li>
              <li>Kat: <span>@ev.Kat</span></li>
              <li>Park: <span>@ev.Park bölme</span></li>
            </ul>
            <div class="main-button">
              <a href="/evler/detay/@ev.Url">Evi Ziyaret Et</a>
            </div>
          </div>
        </div>
        }
    </div>
    </div>
    </div>
    
            @* @foreach (var ev in Model.Evler)
            {
                            <div class="col-3 p-2">

                            <div class="card" style="width: 18rem;">
                                    <img style="width: 18rem; height:15rem;" src="~/img/@ev.Image" class="card-img-top img-fluid" />

                                <div class="card-body">

                                    <h5 class="fs-6"><a href="/evler/detay/@ev.Url" class="btn-link fw-bold">@ev.Baslik</a></h5>
                                    <p class="text-muted">Ev Sahibi: @ev.Kullanici.KullaniciAd</p>

                                </div>
                            </div>
                            </div>
            } *@

    <hr class="my-2">
    <h5 class="text-center mt-3">En Yeni Yayınlar</h5>
    <vc:yeni-evler></vc:yeni-evler>
